
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="login"></div>
<h4 style="color:red;text-align:center">@ViewBag.Thongbao</h4>
    <table align="center">
        <h3 style="text-align:center">ĐĂNG NHẬP</h3>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td class="text" >Tên đăng nhập</td>
                <td>
                    @Html.TextBox("username")
                    <div class="err">@ViewData["Loi1"]</div>
                </td>
            </tr>
            <tr style="height:40px">
                <td class="text" style="float: left"> Mật khẩu</td>
                <td>
                    @Html.Password("password")
                    <div class="err">@ViewData["Loi2"]</div>
                </td>
            </tr>
            <tr style="height:40px">
                <td></td>
                <td>
                    <input id="button" type="Submit" value="Đăng nhập" />
                </td>
            </tr>
        }
    </table>