@model Blog.Models.TIN

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xoa</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENTIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYDANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATACGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATACGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MACHUDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MACHUDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHITIET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIET)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
